<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="accountKey" value="PB1AOUFB-8P86UEB0-76CP1M8S-WO5XW0LR"/>
    <add key="accountSecret" value="5625cec627477ff5ca2daaa77369917ab8bf5eba18cb5b71c765bb895742b2ebd7b7269430a97ba2412a8f5f56e18aeac4626cd04aa35193f938e68cfe61b254"/>
    <add key="apiUrl" value="https://poloniex.com/tradingApi"/>
  </appSettings>
</configuration>